.mtlianad{
    height: 5489px;
    width: 1440px;
    gap: 68px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background-color: red;
    position: relative;

}


.footer{
    position: absolute;
    width: 1440px;
    height: 598px;
    left: 0px;
    top: 2871px;
    background-color: bisque;

}

.cbanner{
    height: 296px;
    width: 900px;
    left: 261px;
    top: 2484px;
    border-radius: 2px;
    position: absolute;
    background-color: rgb(34, 15, 0);

}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 129px;
    gap: 220px;
    background-color: rgb(167, 107, 107);
    position: absolute;
    width: 1438px;
    height: 1574.2px;
    left: 2px;
    top: 732px;
}

.pgogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 96px;
    background-color: blue;

    position: absolute;
    width: 1180px;
    height: 559px;
    left: 130px;
    top: 126px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 263px;
    background-color: black;

    position: absolute;
    width: 1280px;
    height: 51px;
    left: 80px;
    top: 0px;
}

.footercontent{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 165px;

    position: absolute;
    width: 900px;
    height: 212.55px;
    left: 270px;
    top: 3115.54px;
    background-color: blueviolet;
}

.column1{
    background-color: black;
    width: 97px;
    height: 206px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.column2{
    width: 101px;
    height: 206px;
    flex: none;
    order: 1;
    flex-grow: 0;
    background-color: black;
}
.column3{
    width: 87px;
    height: 104px;
    flex: none;
    order: 2;
    flex-grow: 0;
    background-color: black;
}
