*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
}

nav{
    background-color: grey;
    height: 70px;
}

label.logo{
    color:black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-left: 10px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a{
    color: rgb(248, 0, 0);
    font-size: 17px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #1b9;
    transition: .5s;
}